:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --ff-blue: #3380FF; 
    --back-gray: #3d3734;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
