@import 'vars';

.cards-container {
    padding-top: 75px;
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
}